p {
    color: rgb(255, 0, 255);
}

body {
    background-color: rgb(0, 0, 0);
    
}

div {
    padding: 10px;
}

#weather {
    width: 300px;
}

#temperature-container {
    background-color: rgb(0, 87, 162);
    color: white;
    width: 280px;
    margin: 10px;
    white-space: pre-wrap;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }